<div class="main-container">
    <h1>Dashboard</h1>
    <div class="grid-container">
        <kendo-grid [data]="data">
            <kendo-grid-column field="buyerFullName" title="Buyer"></kendo-grid-column>
            <kendo-grid-column field="buyerEmail" title="Email"></kendo-grid-column>
            <kendo-grid-column field="status" title="Status"></kendo-grid-column>
            <kendo-grid-column field="paymentTotal" title="Payment Total"></kendo-grid-column>
        </kendo-grid>
    </div>
</div>